# Лекция 4. Модули и пакеты [2]

In [ ]:
!python -m venv .venv

In [1]:
!.venv\Scripts\activate

In [ ]:
!.venv\Scripts\deactivate

## Модуль math

Модуль `math` предоставляет функции для работы с вещественными числами и математическими операциями.

In [4]:
import math

### Основные константы

Число π:

In [5]:
math.pi

3.141592653589793

Число e:

In [6]:
math.e

2.718281828459045

2π (τ):

In [7]:
math.tau

6.283185307179586

Бесконечность:

In [8]:
math.inf

inf

Не число (Not a Number):

In [9]:
math.nan

nan

### Тригонометрические функции

Преобразование градусов в радианы:

In [10]:
angle = math.radians(45)
angle

0.7853981633974483

Преобразование радиан в градусы:

In [11]:
math.degrees(angle)

45.0

Синус:

In [12]:
math.sin(angle)

0.7071067811865476

Косинус:

In [13]:
math.cos(angle)

0.7071067811865476

Тангенс:

In [14]:
math.tan(angle)

0.9999999999999999

Арксинус:

In [15]:
math.asin(math.sin(angle))

0.7853981633974484

### Экспоненциальные и логарифмические функции

eˣ:

In [16]:
math.exp(2)

7.38905609893065

Натуральный логарифм:

In [17]:
math.log(100)

4.605170185988092

Логарифм с основанием x:

In [18]:
math.log(100, 10)

2.0

Логарифм по основанию 10:

In [19]:
math.log10(100)

2.0

Логарифм по основанию 2:

In [20]:
math.log2(8)

3.0

Возведение в степень:

In [21]:
math.pow(2, 3)

8.0

### Округление и целые числа

Округление вверх:

In [22]:
math.ceil(3.4)

4

In [23]:
math.ceil(-3.4)

-3

Округление вниз:

In [24]:
math.floor(3.7)

3

In [25]:
math.floor(-3.7)

-4

Отбрасывание дробной части:

In [26]:
math.trunc(3.7)

3

In [27]:
math.trunc(-3.7)

-3

Безопасное сравнение float.

Дополнительные аргументы:
- `rel_tol` (relative tolerance) — относительная погрешность (по умолчанию 1e-09)
- `abs_tol` (absolute tolerance) — абсолютная погрешность (по умолчанию 0.0)

In [28]:
math.isclose(0.100001 + 0.2, 0.3, abs_tol=0.0001)

True

In [29]:
math.isclose(0.100001 + 0.2, 0.3, abs_tol=0.000001)

False

### Специальные функции

Квадратный корень:

In [30]:
math.sqrt(16)

4.0

Целочисленный квадратный корень:

In [31]:
math.isqrt(15)

3

Факториал:

In [32]:
math.factorial(5)

120

НОД (наибольший общий делитель):

In [33]:
math.gcd(48, 18)

6

НОК (наименьшее общее кратное). Доступно с версии Python 3.9+

In [34]:
math.lcm(12, 18)

36

Абсолютное значение:

In [35]:
math.fabs(-5.5)

5.5

Остаток от деления (сохраняет знак делимого):

In [36]:
math.fmod(10, 3)

1.0

In [37]:
math.fmod(3.5, 1)

0.5

Остаток от деления (возвращает результат с минимальным абсолютным значением). Доступно с версии Python 3.7

In [38]:
math.remainder(10, 3)

1.0

In [39]:
math.remainder(3.5, 1)

-0.5

Сумма чисел:

In [40]:
math.fsum([0.1, 0.2, 0.3])

0.6

### Гиперболические функции

Гиперболический синус:

In [41]:
math.sinh(1)

1.1752011936438014

Гиперболический косинус:

In [42]:
math.cosh(1)

1.5430806348152437

Гиперболический тангенс:

In [43]:
math.tanh(1)

0.7615941559557649

### Работа с углами

Расстояние между точками (работает для N-мерного пространства):

In [44]:
math.dist([0, 0], [3, 4])

5.0

Гипотенуза (расстояние до точки от начала координат):

In [45]:
math.hypot(3, 4)

5.0

### Проверки

Проверка на NaN:

In [46]:
math.isnan(math.nan)

True

Проверка на конечное число:

In [47]:
math.isfinite(10)

True

In [48]:
math.isfinite(math.inf)

False

Проверка на бесконечность:

In [49]:
math.isinf(math.inf)

True

## Модуль datetime

`datetime` — модуль для работы с датами и временем.

In [66]:
import datetime as dt

Модуль `datetime` содержит несколько классов:

- `date` - работа с датами
- `time` - работа с временем
- `datetime` - работа с датами и временем
- `timedelta` - разница между датами
- `timezone` - временные зоны (доступно с Python 3.2+)

### Класс `date`

#### Создание дат

Через конструктор (обязательные аргументы - год, месяц и день):

In [51]:
d = dt.date(year=2025, month=9, day=22)
print(d)

2025-09-22

Текущая дата:

In [52]:
d = dt.date.today()
print(d)

2025-09-22

Из timestamp:

In [53]:
d = dt.date.fromtimestamp(1758490000)
print(d)

2025-09-22

#### Атрибуты и методы

Атрибуты:

In [54]:
print(d.year)    # год
print(d.month)   # месяц
print(d.day)     # день
print(d.weekday())  # день недели (от 0 до 6)
print(d.isoweekday())  # день недели (от 1 до 7)

2025
9
22
0
1

Форматирование:

In [55]:
d.strftime("%d.%m.%Y")

'22.09.2025'

In [56]:
d.isoformat()

'2025-09-22'

In [57]:
d.ctime()

'Mon Sep 22 00:00:00 2025'

Замена значения (любого поля):

In [58]:
d = d.replace(day=23)
d

datetime.date(2025, 9, 23)

### Класс `time`

#### Создание времени

Конструктор принимает 4 необязательных параметра - часы, минуты, секунды и милисекунды.

In [59]:
t = dt.time()
print(t)
t = dt.time(hour=11)
print(t)
t = dt.time(hour=11, minute=30)
print(t)
t = dt.time(hour=11, minute=30, second=1)
print(t)
t = dt.time(hour=11, minute=30, second=1, microsecond=100000)
print(t)

00:00:00
11:00:00
11:30:00
11:30:01
11:30:01.100000

#### Атрибуты и методы

Атрибуты:

In [60]:
print(t.hour)          # час
print(t.minute)        # минута
print(t.second)        # секунда
print(t.microsecond)   # милисекунда

11
30
1
100000

Форматирование:

In [61]:
t.strftime("%H:%M:%S")

'11:30:01'

In [62]:
t.isoformat()

'11:30:01.100000'

Замена значения:

In [63]:
t = t.replace(hour=12)
t

datetime.time(12, 30, 1, 100000)

### Класс `datetime`

#### Создание datetime

Конструктор класса принимает 3 обязательных аргумента - год, месяц и день, и 4 необязательных - часы, минуты, секунды и милисекунды.

In [67]:
d = dt.datetime(year=2025, month=9, day=22, hour=11, minute=30)
print(d)

2025-09-22 11:30:00

Текущие дата и время:

In [68]:
d = dt.datetime.now()
print(d)

2025-09-22 11:46:12.837634

UTC время:

In [69]:
d = dt.datetime.utcnow()
print(d)

2025-09-22 07:46:18.799591

C:\Users\user\AppData\Local\Temp\ipykernel_54348\3677784414.py:1: DeprecationWarning: datetime.datetime.utcnow() is deprecated and scheduled for removal in a future version. Use timezone-aware objects to represent datetimes in UTC: datetime.datetime.now(datetime.UTC).
  d = dt.datetime.utcnow()

In [70]:
d = dt.datetime.now(dt.UTC)
print(d)

2025-09-22 07:46:36.845925+00:00

Создание datetime из строки:

Метод strptime() позволяет распарсить строку и преобразовать ее в дату.
`strptime(str, format)`

**str** - строковое определение даты и времени, **format** - определяет, как различные части даты и времени расположены в этой строке.

Коды для определения формата:

- `%d` - день месяца в виде числа

- `%m` - порядковый номер месяца

- `%y` - год в виде 2-х чисел

- `%Y` - год в виде 4-х чисел

- `%H` - час в 24-х часовом формате

- `%M` - минута

- `%S` - секунда

In [71]:
d = dt.datetime.strptime("22/09/2025", "%d/%m/%Y")
print(d)

d = dt.datetime.strptime("22/09/2025 11:30", "%d/%m/%Y %H:%M")
print(d)

d = dt.datetime.strptime("09-22-25 11:30", "%m-%d-%y %H:%M")
print(d)

2025-09-22 00:00:00
2025-09-22 11:30:00
2025-09-22 11:30:00

#### Атрибуты и методы

Атрибуты аналогичны атрибутам классов `date` и `time`.

Получение даты и времени отдельно:

In [72]:
print(d.date())
print(d.time())

2025-09-22
11:30:00

timestamp:

In [73]:
d.timestamp()

1758526200.0

Замена значения:

In [74]:
d = d.replace(day=23, hour=15)
print(d)

2025-09-23 15:30:00

### Класс `timedelta`

Конструктор принимает на вход необязательные параметры: день, часы, минуты, секунды и милисекунды

In [75]:
td = dt.timedelta(days=500, hours=5)
print(td)

500 days, 5:00:00

#### Операции с датами

Сложение и вычитание datetime с timedelta - получение нового datetime:

In [77]:
now = dt.datetime.now()
now

datetime.datetime(2025, 9, 22, 11, 49, 0, 714388)

In [78]:
future = now + dt.timedelta(days=7)
future

datetime.datetime(2025, 9, 29, 11, 49, 0, 714388)

In [79]:
past = now - dt.timedelta(hours=24)
past

datetime.datetime(2025, 9, 21, 11, 49, 0, 714388)

Разница между datetime - получение timedelta:

In [80]:
diff = future - past
diff

datetime.timedelta(days=8)

Умножение и деление timedelta:

In [81]:
# умножение на число
td = dt.timedelta(days=100) * 5
print(td)

# деление на число
td = dt.timedelta(days=100) / 5
print(td)

500 days, 0:00:00
20 days, 0:00:00

### Класс timezone

UTC временная зона:

In [82]:
d = dt.datetime.now(dt.timezone.utc)
print(d)

2025-09-22 07:50:00.345388+00:00

Создание своей временной зоны:

In [83]:
tz = dt.timezone(dt.timedelta(hours=4))
d = dt.datetime.now(tz)
print(d)

2025-09-22 11:50:16.171760+04:00

Конвертация между временными зонами:

In [84]:
d = d.astimezone(dt.timezone.utc)
print(d)

2025-09-22 07:50:16.171760+00:00

## Модуль time

`time` — это низкоуровневый модуль для работы со временем и временными операциями.

In [85]:
import time

### Класс `struct_time`

Атрибуты:

In [86]:
now = time.localtime()

print(f"Год: {now.tm_year}")
print(f"Месяц: {now.tm_mon}")
print(f"День: {now.tm_mday}")
print(f"Час: {now.tm_hour}")
print(f"Минуты: {now.tm_min}")
print(f"Секунды: {now.tm_sec}")
print(f"День недели: {now.tm_wday}") # (0-6)
print(f"День года: {now.tm_yday}")
print(f"Летнее время: {now.tm_isdst}") # 0 (нет), 1 (да), -1 (неизвестно)

Год: 2025
Месяц: 9
День: 22
Час: 11
Минуты: 52
Секунды: 6
День недели: 0
День года: 265
Летнее время: 0

### Основные функции

#### Измерение времени

`time()` возвращает число секунд, прошедших с начала эпохи (для операционных систем Unix 1 января 1970, 00:00:00).

In [87]:
t = time.time()
print(t)

1758527554.483589

`monotonic()` — монотонное время (никогда не уменьшается, не подвержено корректировкам системного времени и переходам на летнее время, не зависит от часовых поясов)

In [88]:
time.monotonic()

923251.0687207

In [89]:
start = time.monotonic()
time.sleep(1)  # ждем 1 секунду
end = time.monotonic()
print(end - start)

1.0006051999516785

`perf_counter()` — высокоточное время (наиболее точное время для измерений производительности)

In [91]:
start = time.perf_counter()
# Какая-то операция
result = sum(range(1000000))
end = time.perf_counter()
print(end - start)

0.028589399997144938

`process_time()` — время процессора (без учета sleep)

In [92]:
start = time.process_time()
time.sleep(1)  # Не учитывается в process_time!
# Вычисления учитываются
result = sum(range(1000000))
end = time.process_time()
print(end - start)

0.046875

#### Преобразование времени

`gmtime()` — UTC время (возвращает `time.struct_time`)

In [93]:
utc_time = time.gmtime()
utc_time

time.struct_time(tm_year=2025, tm_mon=9, tm_mday=22, tm_hour=7, tm_min=54, tm_sec=48, tm_wday=0, tm_yday=265, tm_isdst=0)

`localtime()` — локальное время (возвращает `time.struct_time`)

In [94]:
local_time = time.localtime()
local_time

time.struct_time(tm_year=2025, tm_mon=9, tm_mday=22, tm_hour=11, tm_min=55, tm_sec=4, tm_wday=0, tm_yday=265, tm_isdst=0)

`mktime()` — из `time.struct_time` в секунды

In [95]:
struct_time = time.localtime()
seconds = time.mktime(struct_time)
seconds

1758527721.0

`ctime()` — читаемое представление (из секунд в `time.struct_time`)

In [96]:
# текущее время
readable_time = time.ctime()
print(readable_time)

# преобразование времени из секунд
specific_time = time.ctime(1758500000)
print(specific_time)

Mon Sep 22 11:55:26 2025
Mon Sep 22 04:13:20 2025

#### Задержки и ожидание

`sleep()` — приостановка выполнения (аргумент - секунды)

In [97]:
print("Начало")
time.sleep(2.5)
print("Прошло 2.5 секунды")

Начало
Прошло 2.5 секунды

#### Форматирование времени

- `strftime()` — форматирование в строку
- `strptime()` — парсинг из строки

Функции работают аналогично функциям из `datetime`.

## Модуль calendar

`calendar` — модуль для работы с календарями, датами и выводом календарей в различном формате.

In [98]:
import calendar

### Вывод календарей

`month()` — календарь на месяц

In [99]:
cal = calendar.month(2025, 9)
print(cal)

   September 2025
Mo Tu We Th Fr Sa Su
 1  2  3  4  5  6  7
 8  9 10 11 12 13 14
15 16 17 18 19 20 21
22 23 24 25 26 27 28
29 30

In [100]:
# Календарь с шириной и высотой ячеек
cal = calendar.month(2025, 9, w=3, l=2)
print(cal)

       September 2025

Mon Tue Wed Thu Fri Sat Sun

  1   2   3   4   5   6   7

  8   9  10  11  12  13  14

 15  16  17  18  19  20  21

 22  23  24  25  26  27  28

 29  30

`year()` — календарь на год

In [101]:
cal = calendar.calendar(2025)
print(cal)

                                  2025

      January                   February                   March
Mo Tu We Th Fr Sa Su      Mo Tu We Th Fr Sa Su      Mo Tu We Th Fr Sa Su
       1  2  3  4  5                      1  2                      1  2
 6  7  8  9 10 11 12       3  4  5  6  7  8  9       3  4  5  6  7  8  9
13 14 15 16 17 18 19      10 11 12 13 14 15 16      10 11 12 13 14 15 16
20 21 22 23 24 25 26      17 18 19 20 21 22 23      17 18 19 20 21 22 23
27 28 29 30 31            24 25 26 27 28            24 25 26 27 28 29 30
                                                    31

       April                      May                       June
Mo Tu We Th Fr Sa Su      Mo Tu We Th Fr Sa Su      Mo Tu We Th Fr Sa Su
    1  2  3  4  5  6                1  2  3  4                         1
 7  8  9 10 11 12 13       5  6  7  8  9 10 11       2  3  4  5  6  7  8
14 15 16 17 18 19 20      12 13 14 15 16 17 18       9 10 11 12 13 14 15
21 22 23 24 25 26 27      19 20 21 22 23 24 25      16 17 18 19 20 21 22
28 29 30                  26 27 28 29 30 31         23 24 25 26 27 28 29
                                                    30

        July                     August                  September
Mo Tu We Th Fr Sa Su      Mo Tu We Th Fr Sa Su      Mo Tu We Th Fr Sa Su
    1  2  3  4  5  6                   1  2  3       1  2  3  4  5  6  7
 7  8  9 10 11 12 13       4  5  6  7  8  9 10       8  9 10 11 12 13 14
14 15 16 17 18 19 20      11 12 13 14 15 16 17      15 16 17 18 19 20 21
21 22 23 24 25 26 27      18 19 20 21 22 23 24      22 23 24 25 26 27 28
28 29 30 31               25 26 27 28 29 30 31      29 30

      October                   November                  December
Mo Tu We Th Fr Sa Su      Mo Tu We Th Fr Sa Su      Mo Tu We Th Fr Sa Su
       1  2  3  4  5                      1  2       1  2  3  4  5  6  7
 6  7  8  9 10 11 12       3  4  5  6  7  8  9       8  9 10 11 12 13 14
13 14 15 16 17 18 19      10 11 12 13 14 15 16      15 16 17 18 19 20 21
20 21 22 23 24 25 26      17 18 19 20 21 22 23      22 23 24 25 26 27 28
27 28 29 30 31            24 25 26 27 28 29 30      29 30 31

In [102]:
# С параметрами
cal = calendar.calendar(2025, w=2, l=1, c=10)
print(cal)

                                      2025

      January                       February                       March
Mo Tu We Th Fr Sa Su          Mo Tu We Th Fr Sa Su          Mo Tu We Th Fr Sa Su
       1  2  3  4  5                          1  2                          1  2
 6  7  8  9 10 11 12           3  4  5  6  7  8  9           3  4  5  6  7  8  9
13 14 15 16 17 18 19          10 11 12 13 14 15 16          10 11 12 13 14 15 16
20 21 22 23 24 25 26          17 18 19 20 21 22 23          17 18 19 20 21 22 23
27 28 29 30 31                24 25 26 27 28                24 25 26 27 28 29 30
                                                            31

       April                          May                           June
Mo Tu We Th Fr Sa Su          Mo Tu We Th Fr Sa Su          Mo Tu We Th Fr Sa Su
    1  2  3  4  5  6                    1  2  3  4                             1
 7  8  9 10 11 12 13           5  6  7  8  9 10 11           2  3  4  5  6  7  8
14 15 16 17 18 19 20          12 13 14 15 16 17 18           9 10 11 12 13 14 15
21 22 23 24 25 26 27          19 20 21 22 23 24 25          16 17 18 19 20 21 22
28 29 30                      26 27 28 29 30 31             23 24 25 26 27 28 29
                                                            30

        July                         August                      September
Mo Tu We Th Fr Sa Su          Mo Tu We Th Fr Sa Su          Mo Tu We Th Fr Sa Su
    1  2  3  4  5  6                       1  2  3           1  2  3  4  5  6  7
 7  8  9 10 11 12 13           4  5  6  7  8  9 10           8  9 10 11 12 13 14
14 15 16 17 18 19 20          11 12 13 14 15 16 17          15 16 17 18 19 20 21
21 22 23 24 25 26 27          18 19 20 21 22 23 24          22 23 24 25 26 27 28
28 29 30 31                   25 26 27 28 29 30 31          29 30

      October                       November                      December
Mo Tu We Th Fr Sa Su          Mo Tu We Th Fr Sa Su          Mo Tu We Th Fr Sa Su
       1  2  3  4  5                          1  2           1  2  3  4  5  6  7
 6  7  8  9 10 11 12           3  4  5  6  7  8  9           8  9 10 11 12 13 14
13 14 15 16 17 18 19          10 11 12 13 14 15 16          15 16 17 18 19 20 21
20 21 22 23 24 25 26          17 18 19 20 21 22 23          22 23 24 25 26 27 28
27 28 29 30 31                24 25 26 27 28 29 30          29 30 31

`monthcalendar()` — месяц в виде матрицы

In [103]:
# Месяц в виде матрицы (списка недель)
matrix = calendar.monthcalendar(2025, 9)
print(matrix)

[[1, 2, 3, 4, 5, 6, 7], [8, 9, 10, 11, 12, 13, 14], [15, 16, 17, 18, 19, 20, 21], [22, 23, 24, 25, 26, 27, 28], [29, 30, 0, 0, 0, 0, 0]]

### Информация о датах

`weekday()` — день недели

In [104]:
day_of_week = calendar.weekday(2025, 9, 22)
print(day_of_week)  # (0-6)
day_of_week

0

calendar.MONDAY

`monthrange()` — информация о месяце (возвращает первый день недели и количество_дней)

In [105]:
first_day, days_in_month = calendar.monthrange(2025, 2)
first_day, days_in_month

(calendar.SATURDAY, 28)

`isleap()` — проверка високосного года

In [106]:
print(calendar.isleap(2024))
print(calendar.isleap(2025))

True
False

`leapdays()` - количество високосных лет в диапазоне

In [107]:
leap_count = calendar.leapdays(2000, 2025)
leap_count

7

### Работа с неделями

`firstweekday()` — первый день недели

In [108]:
calendar.firstweekday()

0

`setfirstweekday()` - установка первого дня недели

In [109]:
calendar.setfirstweekday(6)
print(calendar.month(2025, 9))
calendar.setfirstweekday(0)

   September 2025
Su Mo Tu We Th Fr Sa
    1  2  3  4  5  6
 7  8  9 10 11 12 13
14 15 16 17 18 19 20
21 22 23 24 25 26 27
28 29 30

`weekheader()` — заголовок дней недели

In [110]:
header = calendar.weekheader(3)  # 3 символа на день
print(header)

header_ru = calendar.weekheader(2)  # 2 символа на день
print(header_ru)

Mon Tue Wed Thu Fri Sat Sun
Mo Tu We Th Fr Sa Su

### Текстовый календарь

`TextCalendar` — текстовый календарь

In [111]:
# Создание календаря с настройками
cal = calendar.TextCalendar(firstweekday=calendar.MONDAY)  # Пн как первый день

In [112]:
print(cal.formatmonth(2025, 9))

   September 2025
Mo Tu We Th Fr Sa Su
 1  2  3  4  5  6  7
 8  9 10 11 12 13 14
15 16 17 18 19 20 21
22 23 24 25 26 27 28
29 30

In [113]:
print(cal.formatyear(2025, w=2, l=1, c=6, m=3))  # 3 месяца в строке

                                  2025

      January                   February                   March
Mo Tu We Th Fr Sa Su      Mo Tu We Th Fr Sa Su      Mo Tu We Th Fr Sa Su
       1  2  3  4  5                      1  2                      1  2
 6  7  8  9 10 11 12       3  4  5  6  7  8  9       3  4  5  6  7  8  9
13 14 15 16 17 18 19      10 11 12 13 14 15 16      10 11 12 13 14 15 16
20 21 22 23 24 25 26      17 18 19 20 21 22 23      17 18 19 20 21 22 23
27 28 29 30 31            24 25 26 27 28            24 25 26 27 28 29 30
                                                    31

       April                      May                       June
Mo Tu We Th Fr Sa Su      Mo Tu We Th Fr Sa Su      Mo Tu We Th Fr Sa Su
    1  2  3  4  5  6                1  2  3  4                         1
 7  8  9 10 11 12 13       5  6  7  8  9 10 11       2  3  4  5  6  7  8
14 15 16 17 18 19 20      12 13 14 15 16 17 18       9 10 11 12 13 14 15
21 22 23 24 25 26 27      19 20 21 22 23 24 25      16 17 18 19 20 21 22
28 29 30                  26 27 28 29 30 31         23 24 25 26 27 28 29
                                                    30

        July                     August                  September
Mo Tu We Th Fr Sa Su      Mo Tu We Th Fr Sa Su      Mo Tu We Th Fr Sa Su
    1  2  3  4  5  6                   1  2  3       1  2  3  4  5  6  7
 7  8  9 10 11 12 13       4  5  6  7  8  9 10       8  9 10 11 12 13 14
14 15 16 17 18 19 20      11 12 13 14 15 16 17      15 16 17 18 19 20 21
21 22 23 24 25 26 27      18 19 20 21 22 23 24      22 23 24 25 26 27 28
28 29 30 31               25 26 27 28 29 30 31      29 30

      October                   November                  December
Mo Tu We Th Fr Sa Su      Mo Tu We Th Fr Sa Su      Mo Tu We Th Fr Sa Su
       1  2  3  4  5                      1  2       1  2  3  4  5  6  7
 6  7  8  9 10 11 12       3  4  5  6  7  8  9       8  9 10 11 12 13 14
13 14 15 16 17 18 19      10 11 12 13 14 15 16      15 16 17 18 19 20 21
20 21 22 23 24 25 26      17 18 19 20 21 22 23      22 23 24 25 26 27 28
27 28 29 30 31            24 25 26 27 28 29 30      29 30 31

In [114]:
cal.monthdayscalendar(2025, 9)

[[1, 2, 3, 4, 5, 6, 7],
 [8, 9, 10, 11, 12, 13, 14],
 [15, 16, 17, 18, 19, 20, 21],
 [22, 23, 24, 25, 26, 27, 28],
 [29, 30, 0, 0, 0, 0, 0]]

`HTMLCalendar` — HTML календарь

In [115]:
# Генерация HTML календаря
html_cal = calendar.HTMLCalendar(calendar.MONDAY)

In [116]:
html_month = html_cal.formatmonth(2025, 9)
print(html_month)
with open("month_calendar.html", "w") as file:
    file.write(html_month)

<table border="0" cellpadding="0" cellspacing="0" class="month">
<tr><th colspan="7" class="month">September 2025</th></tr>
<tr><th class="mon">Mon</th><th class="tue">Tue</th><th class="wed">Wed</th><th class="thu">Thu</th><th class="fri">Fri</th><th class="sat">Sat</th><th class="sun">Sun</th></tr>
<tr><td class="mon">1</td><td class="tue">2</td><td class="wed">3</td><td class="thu">4</td><td class="fri">5</td><td class="sat">6</td><td class="sun">7</td></tr>
<tr><td class="mon">8</td><td class="tue">9</td><td class="wed">10</td><td class="thu">11</td><td class="fri">12</td><td class="sat">13</td><td class="sun">14</td></tr>
<tr><td class="mon">15</td><td class="tue">16</td><td class="wed">17</td><td class="thu">18</td><td class="fri">19</td><td class="sat">20</td><td class="sun">21</td></tr>
<tr><td class="mon">22</td><td class="tue">23</td><td class="wed">24</td><td class="thu">25</td><td class="fri">26</td><td class="sat">27</td><td class="sun">28</td></tr>
<tr><td class="mon">29</td><td class="tue">30</td><td class="noday">&nbsp;</td><td class="noday">&nbsp;</td><td class="noday">&nbsp;</td><td class="noday">&nbsp;</td><td class="noday">&nbsp;</td></tr>
</table>

In [117]:
html_year = html_cal.formatyear(2025)
print(html_year)
with open("year_calendar.html", "w") as file:
    file.write(html_year)

<table border="0" cellpadding="0" cellspacing="0" class="year">
<tr><th colspan="3" class="year">2025</th></tr><tr><td><table border="0" cellpadding="0" cellspacing="0" class="month">
<tr><th colspan="7" class="month">January</th></tr>
<tr><th class="mon">Mon</th><th class="tue">Tue</th><th class="wed">Wed</th><th class="thu">Thu</th><th class="fri">Fri</th><th class="sat">Sat</th><th class="sun">Sun</th></tr>
<tr><td class="noday">&nbsp;</td><td class="noday">&nbsp;</td><td class="wed">1</td><td class="thu">2</td><td class="fri">3</td><td class="sat">4</td><td class="sun">5</td></tr>
<tr><td class="mon">6</td><td class="tue">7</td><td class="wed">8</td><td class="thu">9</td><td class="fri">10</td><td class="sat">11</td><td class="sun">12</td></tr>
<tr><td class="mon">13</td><td class="tue">14</td><td class="wed">15</td><td class="thu">16</td><td class="fri">17</td><td class="sat">18</td><td class="sun">19</td></tr>
<tr><td class="mon">20</td><td class="tue">21</td><td class="wed">22</td><td class="thu">23</td><td class="fri">24</td><td class="sat">25</td><td class="sun">26</td></tr>
<tr><td class="mon">27</td><td class="tue">28</td><td class="wed">29</td><td class="thu">30</td><td class="fri">31</td><td class="noday">&nbsp;</td><td class="noday">&nbsp;</td></tr>
</table>
</td><td><table border="0" cellpadding="0" cellspacing="0" class="month">
<tr><th colspan="7" class="month">February</th></tr>
<tr><th class="mon">Mon</th><th class="tue">Tue</th><th class="wed">Wed</th><th class="thu">Thu</th><th class="fri">Fri</th><th class="sat">Sat</th><th class="sun">Sun</th></tr>
<tr><td class="noday">&nbsp;</td><td class="noday">&nbsp;</td><td class="noday">&nbsp;</td><td class="noday">&nbsp;</td><td class="noday">&nbsp;</td><td class="sat">1</td><td class="sun">2</td></tr>
<tr><td class="mon">3</td><td class="tue">4</td><td class="wed">5</td><td class="thu">6</td><td class="fri">7</td><td class="sat">8</td><td class="sun">9</td></tr>
<tr><td class="mon">10</td><td class="tue">11</td><td class="wed">12</td><td class="thu">13</td><td class="fri">14</td><td class="sat">15</td><td class="sun">16</td></tr>
<tr><td class="mon">17</td><td class="tue">18</td><td class="wed">19</td><td class="thu">20</td><td class="fri">21</td><td class="sat">22</td><td class="sun">23</td></tr>
<tr><td class="mon">24</td><td class="tue">25</td><td class="wed">26</td><td class="thu">27</td><td class="fri">28</td><td class="noday">&nbsp;</td><td class="noday">&nbsp;</td></tr>
</table>
</td><td><table border="0" cellpadding="0" cellspacing="0" class="month">
<tr><th colspan="7" class="month">March</th></tr>
<tr><th class="mon">Mon</th><th class="tue">Tue</th><th class="wed">Wed</th><th class="thu">Thu</th><th class="fri">Fri</th><th class="sat">Sat</th><th class="sun">Sun</th></tr>
<tr><td class="noday">&nbsp;</td><td class="noday">&nbsp;</td><td class="noday">&nbsp;</td><td class="noday">&nbsp;</td><td class="noday">&nbsp;</td><td class="sat">1</td><td class="sun">2</td></tr>
<tr><td class="mon">3</td><td class="tue">4</td><td class="wed">5</td><td class="thu">6</td><td class="fri">7</td><td class="sat">8</td><td class="sun">9</td></tr>
<tr><td class="mon">10</td><td class="tue">11</td><td class="wed">12</td><td class="thu">13</td><td class="fri">14</td><td class="sat">15</td><td class="sun">16</td></tr>
<tr><td class="mon">17</td><td class="tue">18</td><td class="wed">19</td><td class="thu">20</td><td class="fri">21</td><td class="sat">22</td><td class="sun">23</td></tr>
<tr><td class="mon">24</td><td class="tue">25</td><td class="wed">26</td><td class="thu">27</td><td class="fri">28</td><td class="sat">29</td><td class="sun">30</td></tr>
<tr><td class="mon">31</td><td class="noday">&nbsp;</td><td class="noday">&nbsp;</td><td class="noday">&nbsp;</td><td class="noday">&nbsp;</td><td class="noday">&nbsp;</td><td class="noday">&nbsp;</td></tr>
</table>
</td></tr><tr><td><table border="0" cellpadding="0" cellspacing="0" class="month">
<tr><th colspan="7" class="month">April</th></tr>
<tr><th class="mon">Mon</th><th class="tue">Tue</th><th class="wed">Wed</th><th class="thu">Thu</th><th class="fri">Fri</th><th class="sat">Sat</th><th class="sun">Sun</th></tr>
<tr><td class="noday">&nbsp;</td><td class="tue">1</td><td class="wed">2</td><td class="thu">3</td><td class="fri">4</td><td class="sat">5</td><td class="sun">6</td></tr>
<tr><td class="mon">7</td><td class="tue">8</td><td class="wed">9</td><td class="thu">10</td><td class="fri">11</td><td class="sat">12</td><td class="sun">13</td></tr>
<tr><td class="mon">14</td><td class="tue">15</td><td class="wed">16</td><td class="thu">17</td><td class="fri">18</td><td class="sat">19</td><td class="sun">20</td></tr>
<tr><td class="mon">21</td><td class="tue">22</td><td class="wed">23</td><td class="thu">24</td><td class="fri">25</td><td class="sat">26</td><td class="sun">27</td></tr>
<tr><td class="mon">28</td><td class="tue">29</td><td class="wed">30</td><td class="noday">&nbsp;</td><td class="noday">&nbsp;</td><td class="noday">&nbsp;</td><td class="noday">&nbsp;</td></tr>
</table>
</td><td><table border="0" cellpadding="0" cellspacing="0" class="month">
<tr><th colspan="7" class="month">May</th></tr>
<tr><th class="mon">Mon</th><th class="tue">Tue</th><th class="wed">Wed</th><th class="thu">Thu</th><th class="fri">Fri</th><th class="sat">Sat</th><th class="sun">Sun</th></tr>
<tr><td class="noday">&nbsp;</td><td class="noday">&nbsp;</td><td class="noday">&nbsp;</td><td class="thu">1</td><td class="fri">2</td><td class="sat">3</td><td class="sun">4</td></tr>
<tr><td class="mon">5</td><td class="tue">6</td><td class="wed">7</td><td class="thu">8</td><td class="fri">9</td><td class="sat">10</td><td class="sun">11</td></tr>
<tr><td class="mon">12</td><td class="tue">13</td><td class="wed">14</td><td class="thu">15</td><td class="fri">16</td><td class="sat">17</td><td class="sun">18</td></tr>
<tr><td class="mon">19</td><td class="tue">20</td><td class="wed">21</td><td class="thu">22</td><td class="fri">23</td><td class="sat">24</td><td class="sun">25</td></tr>
<tr><td class="mon">26</td><td class="tue">27</td><td class="wed">28</td><td class="thu">29</td><td class="fri">30</td><td class="sat">31</td><td class="noday">&nbsp;</td></tr>
</table>
</td><td><table border="0" cellpadding="0" cellspacing="0" class="month">
<tr><th colspan="7" class="month">June</th></tr>
<tr><th class="mon">Mon</th><th class="tue">Tue</th><th class="wed">Wed</th><th class="thu">Thu</th><th class="fri">Fri</th><th class="sat">Sat</th><th class="sun">Sun</th></tr>
<tr><td class="noday">&nbsp;</td><td class="noday">&nbsp;</td><td class="noday">&nbsp;</td><td class="noday">&nbsp;</td><td class="noday">&nbsp;</td><td class="noday">&nbsp;</td><td class="sun">1</td></tr>
<tr><td class="mon">2</td><td class="tue">3</td><td class="wed">4</td><td class="thu">5</td><td class="fri">6</td><td class="sat">7</td><td class="sun">8</td></tr>
<tr><td class="mon">9</td><td class="tue">10</td><td class="wed">11</td><td class="thu">12</td><td class="fri">13</td><td class="sat">14</td><td class="sun">15</td></tr>
<tr><td class="mon">16</td><td class="tue">17</td><td class="wed">18</td><td class="thu">19</td><td class="fri">20</td><td class="sat">21</td><td class="sun">22</td></tr>
<tr><td class="mon">23</td><td class="tue">24</td><td class="wed">25</td><td class="thu">26</td><td class="fri">27</td><td class="sat">28</td><td class="sun">29</td></tr>
<tr><td class="mon">30</td><td class="noday">&nbsp;</td><td class="noday">&nbsp;</td><td class="noday">&nbsp;</td><td class="noday">&nbsp;</td><td class="noday">&nbsp;</td><td class="noday">&nbsp;</td></tr>
</table>
</td></tr><tr><td><table border="0" cellpadding="0" cellspacing="0" class="month">
<tr><th colspan="7" class="month">July</th></tr>
<tr><th class="mon">Mon</th><th class="tue">Tue</th><th class="wed">Wed</th><th class="thu">Thu</th><th class="fri">Fri</th><th class="sat">Sat</th><th class="sun">Sun</th></tr>
<tr><td class="noday">&nbsp;</td><td class="tue">1</td><td class="wed">2</td><td class="thu">3</td><td class="fri">4</td><td class="sat">5</td><td class="sun">6</td></tr>
<tr><td class="mon">7</td><td class="tue">8</td><td class="wed">9</td><td class="thu">10</td><td class="fri">11</td><td class="sat">12</td><td class="sun">13</td></tr>
<tr><td class="mon">14</td><td class="tue">15</td><td class="wed">16</td><td class="thu">17</td><td class="fri">18</td><td class="sat">19</td><td class="sun">20</td></tr>
<tr><td class="mon">21</td><td class="tue">22</td><td class="wed">23</td><td class="thu">24</td><td class="fri">25</td><td class="sat">26</td><td class="sun">27</td></tr>
<tr><td class="mon">28</td><td class="tue">29</td><td class="wed">30</td><td class="thu">31</td><td class="noday">&nbsp;</td><td class="noday">&nbsp;</td><td class="noday">&nbsp;</td></tr>
</table>
</td><td><table border="0" cellpadding="0" cellspacing="0" class="month">
<tr><th colspan="7" class="month">August</th></tr>
<tr><th class="mon">Mon</th><th class="tue">Tue</th><th class="wed">Wed</th><th class="thu">Thu</th><th class="fri">Fri</th><th class="sat">Sat</th><th class="sun">Sun</th></tr>
<tr><td class="noday">&nbsp;</td><td class="noday">&nbsp;</td><td class="noday">&nbsp;</td><td class="noday">&nbsp;</td><td class="fri">1</td><td class="sat">2</td><td class="sun">3</td></tr>
<tr><td class="mon">4</td><td class="tue">5</td><td class="wed">6</td><td class="thu">7</td><td class="fri">8</td><td class="sat">9</td><td class="sun">10</td></tr>
<tr><td class="mon">11</td><td class="tue">12</td><td class="wed">13</td><td class="thu">14</td><td class="fri">15</td><td class="sat">16</td><td class="sun">17</td></tr>
<tr><td class="mon">18</td><td class="tue">19</td><td class="wed">20</td><td class="thu">21</td><td class="fri">22</td><td class="sat">23</td><td class="sun">24</td></tr>
<tr><td class="mon">25</td><td class="tue">26</td><td class="wed">27</td><td class="thu">28</td><td class="fri">29</td><td class="sat">30</td><td class="sun">31</td></tr>
</table>
</td><td><table border="0" cellpadding="0" cellspacing="0" class="month">
<tr><th colspan="7" class="month">September</th></tr>
<tr><th class="mon">Mon</th><th class="tue">Tue</th><th class="wed">Wed</th><th class="thu">Thu</th><th class="fri">Fri</th><th class="sat">Sat</th><th class="sun">Sun</th></tr>
<tr><td class="mon">1</td><td class="tue">2</td><td class="wed">3</td><td class="thu">4</td><td class="fri">5</td><td class="sat">6</td><td class="sun">7</td></tr>
<tr><td class="mon">8</td><td class="tue">9</td><td class="wed">10</td><td class="thu">11</td><td class="fri">12</td><td class="sat">13</td><td class="sun">14</td></tr>
<tr><td class="mon">15</td><td class="tue">16</td><td class="wed">17</td><td class="thu">18</td><td class="fri">19</td><td class="sat">20</td><td class="sun">21</td></tr>
<tr><td class="mon">22</td><td class="tue">23</td><td class="wed">24</td><td class="thu">25</td><td class="fri">26</td><td class="sat">27</td><td class="sun">28</td></tr>
<tr><td class="mon">29</td><td class="tue">30</td><td class="noday">&nbsp;</td><td class="noday">&nbsp;</td><td class="noday">&nbsp;</td><td class="noday">&nbsp;</td><td class="noday">&nbsp;</td></tr>
</table>
</td></tr><tr><td><table border="0" cellpadding="0" cellspacing="0" class="month">
<tr><th colspan="7" class="month">October</th></tr>
<tr><th class="mon">Mon</th><th class="tue">Tue</th><th class="wed">Wed</th><th class="thu">Thu</th><th class="fri">Fri</th><th class="sat">Sat</th><th class="sun">Sun</th></tr>
<tr><td class="noday">&nbsp;</td><td class="noday">&nbsp;</td><td class="wed">1</td><td class="thu">2</td><td class="fri">3</td><td class="sat">4</td><td class="sun">5</td></tr>
<tr><td class="mon">6</td><td class="tue">7</td><td class="wed">8</td><td class="thu">9</td><td class="fri">10</td><td class="sat">11</td><td class="sun">12</td></tr>
<tr><td class="mon">13</td><td class="tue">14</td><td class="wed">15</td><td class="thu">16</td><td class="fri">17</td><td class="sat">18</td><td class="sun">19</td></tr>
<tr><td class="mon">20</td><td class="tue">21</td><td class="wed">22</td><td class="thu">23</td><td class="fri">24</td><td class="sat">25</td><td class="sun">26</td></tr>
<tr><td class="mon">27</td><td class="tue">28</td><td class="wed">29</td><td class="thu">30</td><td class="fri">31</td><td class="noday">&nbsp;</td><td class="noday">&nbsp;</td></tr>
</table>
</td><td><table border="0" cellpadding="0" cellspacing="0" class="month">
<tr><th colspan="7" class="month">November</th></tr>
<tr><th class="mon">Mon</th><th class="tue">Tue</th><th class="wed">Wed</th><th class="thu">Thu</th><th class="fri">Fri</th><th class="sat">Sat</th><th class="sun">Sun</th></tr>
<tr><td class="noday">&nbsp;</td><td class="noday">&nbsp;</td><td class="noday">&nbsp;</td><td class="noday">&nbsp;</td><td class="noday">&nbsp;</td><td class="sat">1</td><td class="sun">2</td></tr>
<tr><td class="mon">3</td><td class="tue">4</td><td class="wed">5</td><td class="thu">6</td><td class="fri">7</td><td class="sat">8</td><td class="sun">9</td></tr>
<tr><td class="mon">10</td><td class="tue">11</td><td class="wed">12</td><td class="thu">13</td><td class="fri">14</td><td class="sat">15</td><td class="sun">16</td></tr>
<tr><td class="mon">17</td><td class="tue">18</td><td class="wed">19</td><td class="thu">20</td><td class="fri">21</td><td class="sat">22</td><td class="sun">23</td></tr>
<tr><td class="mon">24</td><td class="tue">25</td><td class="wed">26</td><td class="thu">27</td><td class="fri">28</td><td class="sat">29</td><td class="sun">30</td></tr>
</table>
</td><td><table border="0" cellpadding="0" cellspacing="0" class="month">
<tr><th colspan="7" class="month">December</th></tr>
<tr><th class="mon">Mon</th><th class="tue">Tue</th><th class="wed">Wed</th><th class="thu">Thu</th><th class="fri">Fri</th><th class="sat">Sat</th><th class="sun">Sun</th></tr>
<tr><td class="mon">1</td><td class="tue">2</td><td class="wed">3</td><td class="thu">4</td><td class="fri">5</td><td class="sat">6</td><td class="sun">7</td></tr>
<tr><td class="mon">8</td><td class="tue">9</td><td class="wed">10</td><td class="thu">11</td><td class="fri">12</td><td class="sat">13</td><td class="sun">14</td></tr>
<tr><td class="mon">15</td><td class="tue">16</td><td class="wed">17</td><td class="thu">18</td><td class="fri">19</td><td class="sat">20</td><td class="sun">21</td></tr>
<tr><td class="mon">22</td><td class="tue">23</td><td class="wed">24</td><td class="thu">25</td><td class="fri">26</td><td class="sat">27</td><td class="sun">28</td></tr>
<tr><td class="mon">29</td><td class="tue">30</td><td class="wed">31</td><td class="noday">&nbsp;</td><td class="noday">&nbsp;</td><td class="noday">&nbsp;</td><td class="noday">&nbsp;</td></tr>
</table>
</td></tr></table>

### Работа с датами

`day_name` — полные названия дней

In [118]:
list(calendar.day_name)

['Monday', 'Tuesday', 'Wednesday', 'Thursday', 'Friday', 'Saturday', 'Sunday']

`day_abbr` — сокращённые названия дней

In [119]:
list(calendar.day_abbr)

['Mon', 'Tue', 'Wed', 'Thu', 'Fri', 'Sat', 'Sun']

## Модуль collections

`collections` — это коллекция специализированных контейнерных типов данных, которые расширяют возможности стандартных структур.

Основные классы collections:
- `defaultdict` - словарь со значением по умолчанию
- `Counter` - подсчет элементов
- `deque` - двусторонняя очередь
- `namedtuple` - именованный кортеж
- `OrderedDict` - упорядоченный словарь
- `ChainMap` - цепочка словарей
- `UserDict`, `UserList`, `UserString` - классы для наследования и создания собственных реализаций словарей, списков и строк

### Класс defaultdict

In [120]:
from collections import defaultdict

`defaultdict` автоматически создает значения на основе функции

In [121]:
def_dict = defaultdict(int)
print(def_dict['key'])

0

In [122]:
list_dict = defaultdict(list)
list_dict['fruits'].append('apple')
list_dict['fruits'].append('banana')
list_dict

defaultdict(list, {'fruits': ['apple', 'banana']})

In [123]:
# кастомная функция
def default_value():
    return ['value1']

custom_dict = defaultdict(default_value)
print(custom_dict['key1'])

['value1']

### Класс Counter

In [124]:
from collections import Counter

#### Создание

In [125]:
text = "abcabbaaa"
char_count = Counter(text)
char_count

Counter({'a': 5, 'b': 3, 'c': 1})

#### Методы

In [126]:
c = Counter(['a', 'b', 'c', 'a', 'b', 'a'])

`most_common()` - самые частые элементы (аргумент - количество элементов)

In [127]:
c.most_common(2)

[('a', 3), ('b', 2)]

`total()` - общее количество элементов (доступно с версии Python 3.10)

In [128]:
c.total()

6

Арифметические операции

In [129]:
c1 = Counter(a=3, b=1)
c2 = Counter(a=1, b=2)

print(c1 + c2)  # сумма
print(c1 - c2)  # разность
print(c1 & c2)  # пересечение (минимум)
print(c1 | c2)  # объединение (максимум)

Counter({'a': 4, 'b': 3})
Counter({'a': 2})
Counter({'a': 1, 'b': 1})
Counter({'a': 3, 'b': 2})

### Класс deque

In [130]:
from collections import deque

Создание:

In [131]:
d = deque([1, 2, 3])
print(d)

deque([1, 2, 3])

Ограничение размера:

In [132]:
d = deque([1, 2, 3], maxlen=5)
print(d)

deque([1, 2, 3], maxlen=5)

Добавление элементов:

In [133]:
d.append(4)
d.appendleft(0)
d

deque([0, 1, 2, 3, 4], maxlen=5)

Удаление и возврат значения элементов:

In [134]:
right = d.pop()      # 4
left = d.popleft()   # 0

print(right, left)
d

4 0

deque([1, 2, 3], maxlen=5)

Добавление нескольких элементов:

In [138]:
d = deque([1, 2, 3], maxlen=5)

d.extend([4, 5, 6])
print(d)

d.extendleft([1, 0])
print(d)

deque([2, 3, 4, 5, 6], maxlen=5)
deque([0, 1, 2, 3, 4], maxlen=5)

Сдвиг:

In [136]:
d.rotate(2)   # сдвиг вправо
print(d)

d.rotate(-1)  # сдвиг влево
print(d)

deque([3, 4, 0, 1, 2], maxlen=5)
deque([4, 0, 1, 2, 3], maxlen=5)

## Модуль glob

Модуль `glob` используется для поиска файлов и каталогов, соответствующих определённым шаблонам имен файлов. Он позволяет удобно работать с файловой системой, находя файлы по заданной маске.

`glob.glob(pattern)` - возвращает список путей к файлам, соответствующим заданному шаблону.

Шаблон может содержать специальные символы:

- `*` - соответствует любому количеству символов.
- `?` - соответствует любому одному символу.
- `[a-c]` - соответствует любому одному символу из указанного набора.

In [139]:
import glob

Список всех html файлов в текущем каталоге:

In [140]:
files = glob.glob('*.html')
print(files)

['month_calendar.html', 'year_calendar.html']

Список всех файлов в подкаталоге:

In [141]:
files = glob.glob('.venv/*')
print(files)

['.venv\\Include', '.venv\\Lib', '.venv\\pyvenv.cfg', '.venv\\Scripts']

Список всех файлов в текущем каталоге и подкаталогах (рекурсивный поиск):

In [142]:
py_files = glob.glob('**/*', recursive=True)
print(py_files)

['month_calendar.html', 'tmp', 'year_calendar.html', 'Лекция 4.ipynb', 'tmp\\file.txt']

## Модуль logging

`logging` — это система логирования для отслеживания событий в приложениях.

Уровни логирования:
- CRITICAL - Критическая ошибка (50)
- ERROR - Ошибка (40)
- WARNING - Предупреждение (30)
- INFO - Информация (20)
- DEBUG - Отладочная информация (10)
- NOTSET - Все сообщения (0)

Уровень логирования определяет **минимальный уровень сообщений**, которые он будет обрабатывать. Например, уровень логирования info будет обрабатывать сообщения critical, error, warning и info.

In [143]:
import logging

`basicConfig()` — настройка логирования

In [144]:
# Настройка
logging.basicConfig(
    level=logging.DEBUG,
    filename='app.log',
    filemode='a',  # 'a' - append, 'w' - overwrite
    format='%(asctime)s - %(name)s - %(levelname)s - %(message)s',
    datefmt='%Y-%m-%d %H:%M:%S'
)

logging.info("Write to log file")
logging.warning("Warning message")

Создание нескольких логгеров:

In [145]:
# Создание логгеров для разных модулей
logger = logging.getLogger(__name__)  # Логгер с именем модуля

# Настройка каждого логгера
logger.setLevel(logging.DEBUG)

Обработчики (Handlers):

In [146]:
# Создание логгера
logger = logging.getLogger(__name__)
logger.setLevel(logging.DEBUG)

# Обработчик для файла
file_handler = logging.FileHandler('main_log.log')
file_handler.setLevel(logging.INFO)

# Обработчик для консоли
console_handler = logging.StreamHandler()
console_handler.setLevel(logging.DEBUG)

# Форматирование
formatter = logging.Formatter('%(asctime)s - %(name)s - %(levelname)s - %(message)s')
file_handler.setFormatter(formatter)
console_handler.setFormatter(formatter)

# Добавление обработчиков
logger.addHandler(file_handler)
logger.addHandler(console_handler)

# Использование
logger.info("Some message")

2025-09-22 12:15:50,355 - __main__ - INFO - Some message

`disabled` — временное отключение логгера

In [147]:
logger.disabled = True  # отключить
logger.disabled = False  # включить

`removeHandler()` — удаление обработчика

In [148]:
logger.removeHandler(file_handler)

`handlers.clear()` — удаление всех обработчиков

In [149]:
logger.handlers.clear()

`shutdown()` - полная остановка всей системы логирования

In [150]:
logging.shutdown()

## Модуль tqdm

Модуль `tqdm` предназначен для быстрого и расширяемого внедрения индикаторов выполнения (progressbar) во внешние интерфейсы программ на Python, предоставляя конечным пользователям визуальную индикацию хода вычислений или передачи данных.

In [151]:
!pip install tqdm

Requirement already satisfied: tqdm in c:\users\user\appdata\local\programs\python\python313\lib\site-packages (4.67.1)
Requirement already satisfied: colorama in c:\users\user\appdata\roaming\python\python313\site-packages (from tqdm) (0.4.6)

[notice] A new release of pip is available: 25.1.1 -> 25.2
[notice] To update, run: python.exe -m pip install --upgrade pip

In [152]:
from tqdm import tqdm

Запуск:

In [153]:
for i in tqdm(range(100)):
    time.sleep(0.1)

100%|██████████| 100/100 [00:10<00:00,  9.72it/s]

Модификация progressbar:

In [154]:
pbar = tqdm(range(100), ascii=False)
for num in pbar:
    time.sleep(0.1)
    # добавление префикса и элементов итерации к прогресс бару
    pbar.set_description(f"Загрузка: file_{num}")

Загрузка: file_99: 100%|██████████| 100/100 [00:10<00:00,  9.53it/s]