# Лекция 1. Знакомство с языком Python

**Python** — высокоуровневый интерпретируемый язык программирования общего назначения, ориентированный на повышение производительности разработчика и читаемости кода.

Особенности языка:
- динамическая типизация
- автоматическое управление памятью
- встроенный механизм обработки исключений
- поддержка многопоточных вычислений
- высокоуровневые структуры данных
- модульность

## Виртуальное окружение

**Виртуальное окружение** в Python — это независимая среда, в которой можно установить библиотеки и зависимости, необходимые для конкретного проекта, без влияния на другие проекты и на глобальную установку Python на вашем компьютере. Это позволяет избежать конфликтов между версиями библиотек и обеспечивает более управляемую разработку.

Команда для создания виртуального окружения:

In [1]:
!python -m venv .venv 
# .venv — название виртуального окружения
# когда пишете в консоли, то ! не нужен

Команда для активации виртуального окружения на Windows:

In [2]:
!.venv\Scripts\activate

На Linux и macOS:

In [ ]:
!source .venv/bin/activate

Деактивация виртуального окружения:

In [7]:
!.venv\Scripts\deactivate

## Синтаксис

В языке python каждая команда пишется **с новой строки**, без завершающих символов:

In [10]:
a = 1
b = 2
c = a + b
c

3

Для вложенных блоков кода используются **отступы** в 4 пробела:

In [11]:
if c > b:
    c = c - b
    print(c)
    if b > c:
        print(b)

1
2

Рекомендуемая длина строки - **до 80 символов**, иногда может увеличиваться до 100. Если ваша строка кода длиннее, то стоит задуматься над упрощением, изменением названий переменных или над переносом, если другие варианты невозможны.

Для переноса строки используется `\`:

In [12]:
long_long_variable = 1

long_long_variable = long_long_variable + long_long_variable + long_long_variable + \
    long_long_variable + long_long_variable

## Переменные

Переменные в Python представляют собой идентификаторы, которые ссылаются на объекты в памяти. В отличие от статически типизированных языков, Python использует динамическую типизацию, что означает возможность изменения типа объекта в ходе выполнения программы.

Правила именования:
- Могут состоять только из букв, цифр и подчёркиваний
- Не могут начинаться с цифры
- Регистрозависимые
- Названия не должны совпадать с встроенными командами python (но это физически возможно)

Для объявления переменной достаточно написать её название и через знак `=` задать значение:

In [13]:
x = 1
y = 'a'
z = [1, 2, 3]

## Консольный ввод-вывод

Для вывода значения используется команда `print`. Вывести в консоль можно любую переменню, имеющую строковое представление:

In [14]:
print()
print(5)
print(0.999)
print("My string")
print([1, 2, 3])

5
0.999
My string
[1, 2, 3]

Если мы хотим вывести несколько значений через разделитель (стандартный разделитель - пробел), то нужно передать значения через запятую:

In [15]:
print(1, 2, 3)

1 2 3

Для изменения разделителя нужно указать значение необязательного аргумента `sep`:

In [16]:
print(1, 2, 3, sep='-')

1-2-3

По умолчанию символ завершения строки - `\n`. Для его изменения нужно указать значение для необязательного аргумента `end`:

In [17]:
print(1, end=' ')
print(2, end=' ')
print(3)

1 2 3

Для ввода данных с консоли используется команда `input`. Она принимает один необязательный параметр - строку с подсказкой и возвращает строковое значение.

In [18]:
name = input("Enter name: ")
print("Hello,", name)

Hello, Alan

Для того, чтобы получить значение другого типа, строку необходимо преобразовать в нужный нам тип данных:

In [21]:
age = input("Enter age: ")
age = int(age)
print("You're about", age - 19, "years older than your students!")

You're about 5 years older than your students!

#### <span style="color:RoyalBlue">Задание 1</span>

Что выведет следущая команда?

In [22]:
print(10, '03', end='D', sep='05')

100503D

## Встроенные типы данных

`int` - целые числа

In [23]:
x = 10
x = -10
x = 1_000_000  # для удобства чтения можно добавлять разделитель _
print(type(x))

<class 'int'>

`float` - числа с плавающей точкой

In [24]:
x = 3.14
x = -2.5
x = 4.0  # для задания типа float необходимо поставить .
print(type(x))

<class 'float'>

`complex` - комплексные числа

In [25]:
x = 3 + 4j
print(x.real)  # действительная часть
print(x.imag)  # мнимая часть
print(type(x))

3.0
4.0
<class 'complex'>

`bool` - логический тип

In [26]:
x = True
x = False
print(type(x))

<class 'bool'>

`str` - строковые данные. Строки можно писать в одинарных и двойных кавычках.

In [27]:
x = "Hello"
x = 'World'
x = """Многострочная
строка"""
print(type(x))

<class 'str'>

`NoneType` - отсутствие значения

In [28]:
x = None
print(type(x))

<class 'NoneType'>

`list` - список

In [29]:
x = []
x = list()
x = [1, 2, 3]
print(type(x))

<class 'list'>

`tuple` - кортеж

In [30]:
x = ()
x = tuple()
x = (1, 2, 3)
print(type(x))

<class 'tuple'>

`dict` - словарь

In [ ]:
x = dict()
x = {'a': 1, 'b': 2, 'c': 3}
print(type(x))

`set` - множество

In [31]:
x = set()
x = {1, 2, 3}
print(type(x))

<class 'set'>

## Арифметические операторы

Сложение:

In [32]:
x = 10 + 5.5
x

15.5

Вычитание:

In [33]:
x = 10 - 5.5
x

4.5

Умножение:

In [34]:
x = 10 * 5.5
x

55.0

Деление с остатком:

In [35]:
x = 10 / 3
x

3.3333333333333335

Целочисленное деление:

In [36]:
x = 10 // 3
x

3

Остаток от деления:

In [37]:
x = 10 % 3
x

1

In [38]:
x = 10 % 3.5  # возможен остаток от деления на числа с плавающей точкой
x

3.0

Возведение в степень:

In [39]:
x = 10 ** 5
x

100000

In [40]:
x = 10 ** 0.5  # с помощью операции возведения в степень можно получить корень числа
x

3.1622776601683795

Составные операторы:

In [41]:
x = 10
x += 5
x -= 3
x *= 2
x /= 4
x //= 2
x %= 2
x **= 3

А инкремента и декремента в питоне нет, так что нужно писать `x+=1` и `x-=1` :(

Обмен значениями:

In [42]:
a = 10
b = 5
a, b = b, a
a, b

(5, 10)

Обмен нескольких значений:

In [43]:
a, b, c = 5, 10, 15
a, b, c = c, a, b
a, b, c

(15, 5, 10)

## Преобразование типов

`int()` - к целому числу

In [44]:
x = int("11")
y = int(3.14)
z = int(True)
x, y, z

(11, 3, 1)

К `int` можно преобразовывать только float, bool и строковые значения, с подходящим форматом. Другие преобразования вызовут ошибки:

In [45]:
x = int("number")
x

ValueError: invalid literal for int() with base 10: 'number'

In [46]:
x = int(1 + 0j)
x

TypeError: int() argument must be a string, a bytes-like object or a real number, not 'complex'

С помощью необязательного аргумента `base` можно преобразовывать к `int` строковые значения с разными системами счисления:

In [47]:
x = int("1010", base=2)  # двоичная
x

10

In [48]:
x = int("a10", 16)  # шестнадцатеричная
x

2576

`float()` - к числу с плавающей точкой

In [49]:
x = float("3.14")
y = float(11)
z = float(False)
x, y, z

(3.14, 11.0, 0.0)

`bool()` - к логическому значению

In [50]:
b1 = bool(1)
b2 = bool(0)
b3 = bool(11)
b4 = bool("")
b5 = bool("text")
b6 = bool([])
b7 = bool([1, 2, 3])
b1, b2, b3, b4, b5, b6, b7

(True, False, True, False, True, False, True)

`str()` - к строке

In [51]:
s1 = str(11)
s2 = str(3.14)
s3 = str(True)
s4 = str([1,2,3])
s1, s2, s3, s4

('11', '3.14', 'True', '[1, 2, 3]')

К строке можно преобразовывать всё, для чего задано правило преобразования в строку:

In [52]:
s1 = str(abs)

s2 = str(int)

import math
s3 = str(math)

s1, s2, s3

('<built-in function abs>', "<class 'int'>", "<module 'math' (built-in)>")

Функция `print` преобразует объект в строку автоматически:

In [53]:
print(abs, int, math)

<built-in function abs> <class 'int'> <module 'math' (built-in)>

#### <span style="color:RoyalBlue">Задание 2</span>

Чему равен `x`?

In [54]:
x = 10 * float(5.5) - int(str(1) + '0') + int(bool(54))
x

46.0

In [55]:
x = 5 * float(7) // int('1.5') - float(True)
x

ValueError: invalid literal for int() with base 10: '1.5'

## Комментарии

In [ ]:
# однострочный комментарий к коду пишется сверху через один пробел после решётки
a = 5

a = 10  # либо сбоку через два пробела после кода


"""
Многострочные комментарии, например, для описания функции,
пишутся в тройных двойных кавычках
"""

'''
Либо в тройных одинарных кавычках
'''

def func():
    """
    Описания функций пишутся под заголовком
    """
    print("my function")

## Условные выражения

#### Операторы сравнения:

In [56]:
a, b = 10, 5

print(a == b)
print(a != b)
print(a > b)
print(a < b)
print(a >= b)
print(a <= b)

False
True
True
False
True
False

Можно сравнивать разные типы данных:

In [57]:
1 == 1.0

True

In [58]:
[1, 2, 3] == (1, 2, 3)

False

#### Логические операторы:

`and` - логическое **И** (&&)

In [59]:
a = 5
b = 2

a == 0 and b == 2

False

`or` - логическое **ИЛИ** (||)

In [60]:
a == 0 or b == 2

True

`not` - логическое **НЕ** (!)

In [61]:
not a == 0

True

#### Оператор `in`

Оператор `in` преверяет, содержится ли элемент в коллекции:

In [62]:
1 in [1, 2, 3]

True

Также может работать со строками:

In [63]:
"h" in "hello"

True

Может проверять наличие подстроки в строке (с коллекциями это не работает):

In [64]:
"llo" in "hello"

True

#### Опреатор `is`

Оператор `is` проверяет, ссылаются ли две переменные на один и тот же объект в памяти. В отличие от оператора `==`, который проверяет равенство значений, `is` проверяет идентичность объектов.

`is` рекомендуется использовать только для проверки на ссылку на один и тот же объект или для проверки на `None`, поскольку в остальных случаях результат может зависеть от вашей системы или специфичных условий.

In [65]:
l = [1, 2, 3]

if l is not None:
    print(l)

[1, 2, 3]

In [66]:
a = [1, 2, 3]
b = a

a is b

True

In [67]:
a = [1, 2, 3]
b = [1, 2, 3]

a is b

False

In [68]:
s1 = "hello"
s2 = "hello"
print(s1 is s2)

s1 = "hello world"
s2 = "hello world"
print(s1 is s2)

s1 = "hellomyworld"
s2 = "hellomyworld"
print(s1 is s2)

True
False
True

## Условный оператор if

Условный опреатор имеет следующую структуру:

```py
if условие1:
    действие1()
elif условие2:
    действие2()
else:
    действие3()
```

- Обязательным является только оператор `if`
- Количество операторов `elif` неограничено
- Оператор `else` может находиться только в конце конструкции

In [69]:
age = input("Enter your age: ")
age = int(age)

if age < 16:
    print("You're so young :3")
elif age < 100:
    print("It's a good age to start programming!")
else:
    print("Really? Wow")

Really? Wow

Пример со вложенными условиями:

In [ ]:
x, y = 10, 20

if x > 5:
    if y > 10:
        pass
    else:
        pass
else:
    if y > 10:
        pass
    else:
        pass

В теле конструкции `if-else` можно создавать переменные, однако, с этим следует быть аккуратным:

In [70]:
a = 10

# в данном примере переменная создаётся в любом случае
if a > 5:
    var = 10
else:
    var = 100

var

10

In [71]:
a = 10

# здесь переменная создаётся только в случае выполнения условия, что может привести к ошибкам
if a < 5:
    new_var = 10

new_var

NameError: name 'new_var' is not defined

In [72]:
a = 10

# переменная будет существовать, даже если создаётся во вложенном условии,
# однако, это плохая практика, поскольку негативно сказывается на читаемости кода
if a > 5:
    if a > 9:
        new_new_var = 10

new_new_var

10

#### Теранарный оператор

Тернарный оператор имеет следующую структуру:

```py
действие1 if условие else действие2
```

In [73]:
age = 10

access = True if a >= 18 else False

access

False

## Циклы

#### Цикл `while`

Цикл `while` имеет следующую структуру:

```py
while условие:
    действие
```

In [74]:
count = 0

while count < 3:
    print(count, end=" ")
    count += 1

0 1 2

Аналога цикла `do-while` в python нет!

#### Цикл `for`

Структура цикла `for`:

```py
for элемент in последовательность:
    действие
```

In [75]:
numbers = [1, 2, 3]

for num in numbers:
    print(num, end=" ")

1 2 3

Поскольку цикл `for` работает только с последовательностями, то для перебора диапазона чисел необходимо использовать функцию `range`:

In [76]:
# цикл от 2 до 5
for i in range(2, 5):
    print(i, end=" ")

2 3 4

#### Операторы `break`, `continue` и `else`

Оператор `break` используется для выхода из цикла

In [77]:
count = 0

while True:
    print(count, end=' ')
    count += 1
    if count >= 10:
        break

0 1 2 3 4 5 6 7 8 9

Оператор `continue` используется для перехода к следующей итерации цикла

In [78]:
for i in range(1, 6):
    if i == 3:
        continue
    print(i, end=' ')

1 2 4 5

Блок `else` может завершать конструкцию цикла `while` или `for` и выполняется в случае нормального завершения работы цикла, без использования `break`.

In [79]:
count = 0

while count < 5:
    count +=1
    print(count)
else:
    print("Все числа напечатаны")

1
2
3
4
5
Все числа напечатаны

In [81]:
numbers = [1, 3, 5, 7, 9, 4]
for num in numbers:
    if num % 2 == 0:
        print("Найдено четное число")
        break
else:
    print("Четных чисел не найдено")

Найдено четное число

#### <span style="color:RoyalBlue">Задание 3</span>

Что выведет следующий код?

In [82]:
letters = ['f', 'e', 'a', 'g', 's']

for i in range(1, 5):
    if letters[i] == 'g':
        continue
    if letters[i] == 'c':
        break
    print(letters[i], end='')
else:
    print('y')

easy

## Строки

**Строки** — это **неизменяемые** последовательности символов.

Специальные символы (экранирование):

In [83]:
# \n - новая строка
text = "First string\nSecond string"
print(text)

# \t - табуляция
text = "Name:\tAlan"
print(text)

# \\ - обратный слеш
text = "C:\\Users\\UserName"
print(text)

# \' и \" - кавычки
text = "\"-Hello\""
print(text)

First string
Second string
Name:	Alan
C:\Users\UserName
"-Hello"

Для отключения экранирования перед строкой нужно поставить символ `r`

In [84]:
path = r"C:\Users\UserName"
print(path)

C:\Users\UserName

Для того, чтобы вставить значение переменной в строку, нужно поставить перед ней символ `f`, а саму переменную поместить в фигурные скобки `{}`:

In [85]:
name, age = "Alan", 24

user = f"Name: {name}, age: {age}"

user

'Name: Alan, age: 24'

С помощью функции `len(str)` можно получить длину строки:

In [86]:
len("Hello")

5

**Конкатенация** (сложение) строк:

In [87]:
str1 = "Hello"
str2 = "world"

str1 + " " + str2

'Hello world'

**Повторение** строки:

In [88]:
"mew" * 3

'mewmewmew'

**Лексикографическое сравнение** строк:

In [89]:
str1 = "abc"
str2 = "acb"

print(str1 == str2)
print(str1 > str2)
print(str1 < str2)

False
False
True

#### Индексация и срезы

Получение первого элемента:

In [90]:
s = "Hello world"
s[0]

'H'

Получение последнего элемента:

In [91]:
s = "Hello world"
s[len(s)-1]

'd'

In [92]:
s = "Hello world"
s[-1]  # обратная индексация

'd'

Срез с 1 по 6 символ невключительно:

In [93]:
s = "Hello world"
s[0:5]

'Hello'

In [94]:
s = "Hello world"
s[:5]

'Hello'

Срез с 7 по последний символ:

In [95]:
s = "Hello world"
s[6:len(s)]

'world'

In [96]:
s = "Hello world"
s[6:]

'world'

Срез от начала до конца строки с шагом 2:

In [97]:
s = "Hello world"
s[::2]

'Hlowrd'

Разворот строки:

In [98]:
s = "Hello world"
s[::-1]

'dlrow olleH'

#### <span style="color:RoyalBlue">Задание 4</span>

Чему равен `result`?

In [99]:
string = "hello, my friend"

result = string[7:8] + string[4] * 2 + string[-2]
result

'moon'

#### Основные методы строк

Изменение регистра символов:

In [101]:
text = "Hello World"

print(text.upper())       # Все символы заглавные
print(text.lower())       # Все символы строчные 
print(text.title())       # Все слова с заглавной буквы
print(text.capitalize())  # Заглавная только первая буква строки
print(text.swapcase())    # Изменить регистр на противоположный

HELLO WORLD
hello world
Hello World
Hello world
hELLO wORLD

Проверка содержимого строк:

In [102]:
text = "hello123"

print(text.isalpha())    # только буквы?
print(text.isdecimal())  # только десятичные цифры?
print(text.isdigit())    # только цифры?
print(text.isnumeric())  # только числовые символы?
print(text.isalnum())    # только буквы и/или цифры?
print(text.islower())    # все в нижнем регистре?
print(text.isupper())    # все в верхнем регистре?
print(text.isspace())    # только пробельные символы?

False
False
False
False
True
True
False
False

К сожалению, в `str` нет методов, которые проверяли бы строку на корректное написание `int` или `float`, поэтому такие проверки нужно реализовывать самостоятельно:

In [104]:
def str_to_float(s):
    try:
        return float(s)
    except ValueError:
        return None

print(str_to_float("1.5"))
print(str_to_float("-100"))

1.5
-100.0

Проверка начала и окончания строки
- `startswith(str)` - проверяет, начинается ли строка с подстроки, возвращает `True/False`.
- `endswith(str)` - проверяет, заканчивается ли строка подстрокой, возвращает `True/False`.

In [105]:
text = "Hello world"
print(text.startswith("Hello"))
print(text.endswith("world"))

True
True

Удаление пробельных символов
- `strip()` - удаление в начале и конце.
- `lstrip()` - удаление в начале.
- `rstrip()` - удаление в конце.

In [106]:
text = "    \nHello World\t"
print(text.strip())
print(text.lstrip())
print(text.rstrip())

Hello World
Hello World

Hello World

Поиск подстроки в строке

- `find(str)` - принимает строку, возвращает индекс первого вхождения, либо -1.
- `rfind(str)` - принимает строку, возвращает индекс последнего вхождения, либо -1.
- `index(str)` - принимает строку, возвращает индекс первого вхождения, либо **вызывает исключение** `ValueError`.

In [107]:
s = "abccba"

print(s.find("a"))
print(s.rfind("b"))
print(s.index("c"))

0
4
2

Замена подстроки на другую строку

- `replace(str, str, int)` - принимает строку, которую необходимо заменить, новую строку и количество замен (необязательный аргумент, по умолчанию заменяет все). В случае, если подстрока не найдена, исходная строка не меняется.

In [108]:
s = "abccba"

print(s.replace("a", "A"))  # замена всех подстрок
print(s.replace("a", "A", 1))  # замена первой подстроки

s = "a b c c b a"

print(s.replace(" ", ""))  # удаление пробелов

AbccbA
Abccba
abccba

Разделение строк

- `split(str)` - принимает строку - разделитель, возвращает список строк (`list`). Если разделители отсутствуют, то возвращает список из одного элемента.
- `splitlines()` - делит строку по символу новой строки.

In [109]:
text = "apple orange banana"
result = text.split(" ")
result

['apple', 'orange', 'banana']

In [110]:
text = "apple orange banana"
result = text.split(",")
result

['apple orange banana']

In [111]:
text = """apple
orange
banana
"""
result = text.splitlines()
result

['apple', 'orange', 'banana']

Соединение строк
- `join(list)` - принимает список строк, которые будут объединены. Метод вызывается у **разделителя**.

In [112]:
fruits = ['apple', 'orange', 'banana']
text = " ".join(fruits)  # пробел - разделитель
text

'apple orange banana'

In [113]:
text = " ".join([])  # пустой список даст пустую строку
text

''

#### <span style="color:RoyalBlue">Задание 5</span>

Чему равен `result`?

In [114]:
string = "The Python programming language is now taught even in school."

lst = string.split(" ")

result = " ".join([lst[3][1:4].replace('g', 'd').title(), lst[-2][0] + lst[-4][0], lst[4], lst[-1][1:].replace('h', '')])
result

'And it is cool.'

## Встроенные функции

`abs` - модуль числа. Работает с `int` и `float`.

In [115]:
abs(-5), abs(-5.5)

(5, 5.5)

`round` - округление. Аргументы - округляемое число и количество знаков после запятой (по умолчанию - 0).

In [116]:
round(3.14159, 2), round(3.14159)

(3.14, 3)

`divmod` - деление по модулю. Аргументы - число и делитель, возвращает частное и остаток. Работает с `int` и `float`.

In [117]:
divmod(10, 3), divmod(10, 3.5)

((3, 1), (2.0, 3.0))

`pow` - возведение в степень. Работает с `int` и `float`.

In [120]:
pow(2, 3), pow(2, 0.5)

(8, 1.4142135623730951)

`min` - минимальное значение, `max` - максимальное значение. 
Обе функции принимают множество аргументов.

In [121]:
min(1, 2, 3), max(1, 2, 3)

(1, 3)

`range(start, end, step)` - генератор последовательностей.

Аргументы:
- `start` - начальное значение (необязательный, по умолчанию 0)
- `end` - конечное значение (невключительно)
- `step` - шаг (необязательный, по умолчанию 1)

Возвращает объект типа `range`

In [122]:
range(1, 10, 2)

range(1, 10, 2)

Для получения списка элементов необходимо преобразовать к коллекции (например, к `list`)

In [123]:
list(range(1, 10, 2))

[1, 3, 5, 7, 9]

Наиболее частое использование `range` - для перебора индексов коллекций:

In [124]:
lst = ['a', 'b', 'c', 'd', 'e']
for i in range(len(lst)):
    print(f'list[{i}] = {lst[i]}')

list[0] = a
list[1] = b
list[2] = c
list[3] = d
list[4] = e

`type` - возвращает тип данных объекта.

In [125]:
type(5), type(int), type(type)

(int, type, type)

`type` может использоваться для проверки типа простых объектов, однако, он не учитывает наследование.
Если нам нужно проверить более сложные типы данных, то лучше использовать `isinstance`.

In [126]:
# родительский класс
class A:
    pass

# класс наследник A
class B(A):
    pass

a = A()
b = B()

print(type(a) == A)
print(type(b) == B)
print(type(b) == A)  # не учитывается иерархия классов

print(isinstance(a, A))
print(isinstance(b, B))
print(isinstance(b, A))  # учитывается иерархия

True
True
False
True
True
True